* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
.encabezado {
    background-color: aqua;
    margin-bottom: 15px;
}
*/
a {
    text-align: center;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid;
    padding: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 30px;
}

button {
    width: 70px;
    height: 40px;
}